
<ul>
  <div *ngFor='let qu of manyQuotes;let i = index' class="quoteclass">
      <li>{{qu.quote}}</li>
      <p>{{upvote}}</p>
      <p>{{downvote}}</p>
      <button (click)='toggleDetails(i)'>Toggle Details</button>
      <button (click)='upVoteQuote(i)'>Upvote</button>
      <button (click)='downVoteQuote(i)'>Downvote</button>
   
      <app-quote-detail-comp *ngIf='qu.showDescription' [qu]='qu'(isComplete) = 'completeQuote($event,i)'></app-quote-detail-comp>
    
    </div>
  </ul>
  <div class="col-md-6">
    <app-quote-form-comp (addQuote)="addNewQuote($event)"></app-quote-form-comp>
  </div>